[2019-02-26 19:57] eparizzi opened #5 "Doesn't work on Windows"
`npm i -g https-localhost`

Windows 10 Pro x64

[2019-02-26 20:58] daquinoaldo commented on #5
Hi Emiliano!

Thank you for your contribution!

I found the bug and I'm working on it. Just the time to improve tests and I'll push the fix. I'll keep you updated!

[2019-02-26 22:47] daquinoaldo commented on #5
Waiting the [travis build](https://travis-ci.com/daquinoaldo/https-localhost/builds/102411645) to finish.

[2019-02-26 23:11] eparizzi commented on #5
Let me know if you need me to test it on Windows.

[2019-02-27 10:18] daquinoaldo commented on #5
I cannot perform tests on Travis, due to missing permissions and functionalities. I've done some tests on a VM and it seems work to me.

@eparizzi can you test it, please?
[code]

[2019-03-02 08:05] daquinoaldo commented on #5
Ping @eparizzi

[2019-03-02 08:25] daquinoaldo commented on #5
I have tested it on a native Windows 10 Home machine and seems work.
I've published the patch on NPM, so I close this issue. Please, re-open if still be bugged.
Thank you again for reporting the bug!

[2019-03-02 08:25] #5 closed

[2019-03-25 22:24] daquinoaldo opened #8 "Save the certificates outside the node module."
Moving the certificate path to a fixed path, e.g. `~/.https-localhost`, will prevent the script to generate a new certificate every time the module is updated.
At the moment, just running npm install will reinstall the module generating again the certificate.

A good path can be:
- `{APPDATA}\https-localhost` on Windows
- `~/.https-localhost` on linux
- `~/Library/Application Support/.https-localh

[2019-04-17 17:28] ejunker opened #9 "How to use as dependency with continuous integration environment"
I have a project that has added https-localhost as a dependency. We have a Jenkins continuous integration server that checks out our code from git and then installs the npm modules so that it can build our app. After the npm modules are installed, the postinstall script for https-localhost runs and it generates the certificates but then get prompted to enter a password. I was wondering how other p

[2019-04-18 07:33] daquinoaldo opened #10 "Generate certificates at first run"
Since the postinstall script asking for sudo permissions makes problems, generate the certificates at first run.

The ./cert/generate.js script will be moved in ./certs.js. If the index.js won't find the certificates, them will be generated by this script.

Proposed by @stutrek in #7 in comments.

[2019-04-18 07:34] daquinoaldo commented on #10
Better to implement after #8

[2019-04-18 07:37] daquinoaldo opened #11 "Catch `EACCES` error due to missing permission on port 443 and 80."
On linux root permissions are required for ports 443 and 80.

The script should continue to be run without root permissions, but should catch the error and ask for sudo if required.

[2019-04-18 07:50] daquinoaldo opened #12 "Add CLI options"
Add cli options to custom setting in script mode.
The most urgent one is `-p` for the port.
Also an option for http to https redirect should be useful.

[2019-04-18 07:57] daquinoaldo commented on #9
Hi! Thank you for opening an issue!

https-localhost was designed for local use, on your PC, and not for production or for CI.
Anyway, if you could explain better the goal you want to reach with https-localhost on Jenkins I'll be glad to help you to find a work-around, also by adding some checks in the script.

First please note the issues #8 and #10. I'm planning to implement them this week.
Now

[2019-04-18 14:05] ejunker commented on #9
Thanks for your reply. Yes, I think as long as an `npm install` won't cause it to ask for a password my issue will be solved. I don't need to use the certificates for anything that I am doing with Jenkins. I just need to npm install and build the app. Other Jenkins users might need to use the certificates and I would assume that they are not running under root. I think it would be nice if the cert

[2019-04-18 15:01] daquinoaldo commented on #9
I'm working on that, I think it will be ready for the end of the next week.

Is not possible to trust certificates without root permissions, but I'll add an option to use a custom certificate, so that the certificates generation will be skipped.

[2019-04-23 13:12] daquinoaldo commented on #9
Commit 05e7651 should solve the problem. I'll merge into the master branch this weekend, after some manual testing.

[2019-04-23 17:49] #8 closed

[2019-04-23 17:49] #10 closed

[2019-04-23 17:49] #11 closed

[2019-04-23 17:54] daquinoaldo commented on #9
Should be solved with #13. Just upgrade your dependency to v4.1.0. Let me know!

[2019-04-26 12:19] leonardop21 opened #14 "File not found"
Hello,

I am starting the server on port 4433 as an example and pointing to the path of my project, but when accessed by the browser, I get an error of not found. What can I do wrong?

Running the local server without https the site works normally

1 ![Captura de Tela 2019-04-26 às 09 17 24](https://user-images.githubusercontent.com/17708447/56807195-7e526e00-6804-11e9-8347-b56a16c0789d.png)

2 !

[2019-04-26 12:26] daquinoaldo commented on #14
I know that is a stupid question, but: there is an index file in that folder? If you try to append an existent file you got the same error? Like: https://localhost:4443/file.html

[2019-04-26 12:27] #9 closed

[2019-04-26 12:27] daquinoaldo commented on #9
Closed. Feel free to open again if you have any problem with the proposed solution.

[2019-04-26 14:03] leonardop21 commented on #14
Yes, I created a part folder with an index.html and tried to access, the same error occurred

[2019-04-29 10:52] daquinoaldo commented on #14
I've tried to reproduce this error, without any success. I followed these steps.

1. Uninstall https-localhost with `npm -g uninstall https-localhost`. `which serve` shouldn't print anything.
2. Install https-localhost with `npm i -g --only=prod https-localhost`.
3. `mkdir test` and `echo "<html><body>TEST</body></html>" > test/index.html`.
4. `PORT=4443 serve test`. You should see "TEST" on https

[2019-05-03 21:05] leonardop21 commented on #14
Hello,
Sorry for the delay, follow the tutorial above and I encountered the same problem. I tested with direct test and then passing the complete path of the directory where the file was, as print below. I will repeat the test at home with a windows pc.

![Captura de Tela 2019-05-03 às 18 04 01](https://user-images.githubusercontent.com/17708447/57165605-fead3c00-6dcd-11e9-9829-a1e9d019fafd.png)

[2019-05-03 21:41] daquinoaldo commented on #14
Could you please try to clone the repository and perform `npm test`?

[2019-05-06 17:18] leonardop21 commented on #14
Would it be this?

![Captura de Tela 2019-05-06 às 14 17 53](https://user-images.githubusercontent.com/17708447/57242424-d6118600-7009-11e9-8974-1300e2b34171.png)

[2019-05-06 17:35] daquinoaldo commented on #14
No, this error is because you have not install the dev requirements, you can install them with `npm install` without the `--only=prod` option. Then you should be able to run tests.

[2019-05-06 18:33] leonardop21 commented on #14
It looks like all the tests have been completed successfully. Could it be some other program on my machine that is causing conflict?

Testing certs
    ✓ can be uninstalled
    ✓ uninstall is idempotent (doesn't fail if called twice)
Generating certificates...
Downloading the mkcert executable...
Running mkcert to generate certificates...
Certificates generated, installed and trusted. Ready to go!

[2019-05-06 18:39] daquinoaldo commented on #14
Yes, them have been completed successfully. That is pretty strange, because there are tests with a file served on port 4443 and seem to work.
I do not exclude that could be a conflict with other programs. Any ideas?
Can you please try to run it with sudo permissions?
Have you tried it on Windows?
Thank you for your patience and your cooperation!

[2019-05-06 18:51] leonardop21 commented on #14
I do not know if I can test today, but during the week I'm going to do new tests here on mac and windows, and I bring new feedback

[2019-05-06 18:55] daquinoaldo commented on #14
Thank you very much!

[2019-05-10 15:08] r3wt commented on #5
This still doesn't work on windows, even when running command prompt as admin.

`ERROR: failed to execute "keytool -importcert": exit status 1` tried it first in mingw, then tried again in adminstrative command prompt. it says access denied

[2019-05-13 20:25] daquinoaldo commented on #5
Hi @r3wt,
I've tested right now on Windows but I'm not able to reproduce this error.
Anyway, I have good reasons to think that is a different problem to the one for which this issue was opened.
Could you please open a new issue providing some steps to reproduce? You can reset the original condition by removing the folder https-localhost from `%APPDATA%`.
Thank you for your cooperation!

Aldo

[2019-05-13 20:26] daquinoaldo commented on #14
@leonardop21 any news?

[2019-05-13 21:20] r3wt commented on #5
@daquinoaldo in my case it was caused by JAVA_HOME being set

[2019-05-13 22:16] daquinoaldo commented on #5
@r3wt may be a problem related to [mkcert](https://github.com/FiloSottile/mkcert). Anyway, I'm happy you have fixed it.

[2019-05-13 22:18] r3wt commented on #5
@daquinoaldo thanks man, i really appreciate this project, very useful for local development when needing https. +1

[2019-05-16 19:48] #14 closed

[2019-05-16 19:49] daquinoaldo commented on #14
Feel free to open it again if you have any further information. Thank you for your help.

[2019-07-28 08:57] samgos opened #16 "Server timeout: Cannot read property 'replace' of undefined"
Pretty simple I run the server and all works fine and dandy before it times out.

CLI:
[code]

Log:
[code]

[2019-07-30 10:53] daquinoaldo commented on #16
Hi, thank you for reaching out to me!

I've tried to reproduce, unsuccessfully. So, for the moment I can only share some considerations with you.

**1. Stange output**

This is the normal log of https-localhost. A line is missing, though. These two lines are usually preceded by this one:
[code]
where `/your/static/path` is `build` in your case.

_Can you please check if it prints this line?_

**2.

[2019-08-01 22:25] samgos commented on #16
[code]

Could well be the problem, i'm gonna set the alias for the ENV variable to be permanent and watch for changes instead of feeding in the absolute path.

[2019-08-01 22:48] samgos commented on #16
I was calling react-scripts and serve so perhaps that had a conflicting issue, got the following output by adding the ssl path as a permanent environment variable:

[code]

[2019-08-02 08:02] samgos commented on #16
Ok so it still occurred 😢

[code]

[2019-08-02 09:13] daquinoaldo commented on #16
Thank you for the complete log. Unfortunately, it is not as useful as I hope.

Anyway, it really seems related to [index.js row 44](https://github.com/daquinoaldo/https-localhost/blob/a055dbe10c22df9ecafd4258892da005137b3ee7/index.js#L44): `req.headers["host"]` is undefined.

I've tried to reproduce again, even with a permanent environment variable, but even after many tries it still works to me.

[2019-08-03 09:29] samgos commented on #16
Fixed by the hardcoding it as you said, thanks!

[2019-08-03 09:29] #16 closed

[2019-08-03 10:30] daquinoaldo commented on #16
Published v4.1.3 on npm with the fix. Thank you!

[2019-08-17 03:03] bknill opened #18 "ERR_SSL_PROTOCOL_ERROR in Chrome"
This appears to be running normally in an Electron app.

Node - 12.2.0
Electron - 5.0.6

Loading https://localhost:8000 shows:

[code]
Is there any way to debug this?

[2019-08-17 09:24] daquinoaldo commented on #18
Hi @bknill,
which OS and which Chrome version are you using?

I use Chrome as default browser and I never experimented this issue, so I suppose is related to an error occurred during the execution of the install script. Let's try to debug together! :)

It seems that the certificate has been generated (the script prints `Server running on port 443.`) but has not been signed as trusted.

Try to remo

[2019-08-22 13:11] daquinoaldo commented on #18
@bknill try this:
[code]

[2019-08-22 14:07] onerinas opened #20 "API to use the generated certificates"
**How would you like to expand the functionalities?**
Ability to generate and use certs directly for the existing server

**Are there alternatives?**
- Alternative is to use express app included in htttps-localhost but it cannot be used in cases like socket since app.listen won't work.
https://socket.io/docs/#Using-with-Express
- Another alternative is to use [mkcert](https://github.com/FiloSottil

[2019-08-22 17:50] daquinoaldo commented on #20
Hi @onerinas!

Take a look to the [`getCerts()`](https://github.com/daquinoaldo/https-localhost/blob/master/certs.js#L121) functions. I could try to make it available programmatically.
Then you can start the server with `https.createServer(await getCerts(), app).listen(port)`

Otherwise, we can add a parameter to the [`createServer()`](https://github.com/daquinoaldo/https-localhost/blob/master/ind

[2019-08-22 18:00] onerinas commented on #20
No problem at all, enjoy your trip and thank you for the quick response!

Yes, I was hoping for something like that.

[2019-08-22 19:02] daquinoaldo commented on #20
Fine, next weekend I'll try to rearrange the structure to expose `getCerts()` 👌

[2019-08-22 19:43] onerinas commented on #20
I've forked the repo to use in our project. Here is the commit: https://github.com/onerinas/https-localhost/commit/ae6386ebc282c50c0a0989925bcb5e4273192090

usage:
`https.createServer(await httpsLocalhost.getCerts(), app)`

I don't have any tests to create a PR here.

[2019-08-30 15:56] #18 closed

[2019-08-30 18:07] daquinoaldo commented on #20
Hi @onerinas,
I checked your PR #22 but contains breaking changes.

In particular, it changes the current use from
[code]
to
[code]

Actually, I won't push a breaking change now. Maybe in the future, but I will totally remove express in that case.

I've created a [branch](https://github.com/daquinoaldo/https-localhost/tree/getCerts) that should solve your problem.

I paste an example for clarity:

[2019-08-30 18:09] onerinas commented on #20
Yes, this would work!

[2019-08-30 19:22] daquinoaldo commented on #20
Fine!

I'll publish it in the next few days together with other changes.

[2019-09-02 21:23] #20 closed

[2019-09-12 09:51] RezaErfani67 opened #26 "[Windows] keytool error: java.lang.Exception: Keystore file does not exist"
![image](https://user-images.githubusercontent.com/24381986/64919870-5e2c4700-d7c5-11e9-855d-9cdba90a0f86.png)

[2019-09-16 09:58] daquinoaldo commented on #26
Hi!
This is a problem with [mkcert](https://github.com/FiloSottile/mkcert) that is used to generate certificates.  The problem is that mkcert is not able to add the key to your Java Keystore file.

1. Is Java installed properly on your PC?
2. First run of https-localhost should be under a privileged shell: open the shell with Win + X > Power Shell (Admin), then execute https-localhost. You may nee

[2019-09-17 05:14] RezaErfani67 commented on #26
thanks for quick response...
1- i install java for android studio and is OK
2- i run below command  from command prompt with "run as administrator" privilege...
[code]
maybe the problem is from my system...
no matter...
i close this issue
thank you mr

[2019-09-17 05:14] #26 closed

[2019-09-17 21:34] hqtsky opened #27 "install the bin command as anything besides serve, maybe 'sserve'"
**How would you like to expand the functionalities?**
This module replaces another npm called 'serve' when installed globally: https://www.npmjs.com/package/serve

It would be nice to install this under 'sserve' or something alternative so we can have access to both.

**Are there alternatives?**
Manually rename the link and relink the 'serve'.

**Is it a breaking change?**
This is not a breaking c

[2019-09-18 00:23] roberto-rodriguez opened #28 "The process cannot access the file because it is being used by another process."
These are the logs:

Generating certificates...
[0] Certificates path: C:\Users\roberto.rodriguez\AppData\Roaming\https-localhost.
[0] Downloading the mkcert executable...
[0] Running mkcert to generate certificates...
[0] (node:13992) UnhandledPromiseRejectionWarning: Error: Command failed: C:\Users\roberto.rodrigu4.exe -install -cert-file C:\Users\roberto.rodriguez\AppData\Roaming\https-localhos

[2019-09-18 15:40] daquinoaldo commented on #28
Hi, which command do you use to run the script?

[2019-09-18 15:46] daquinoaldo commented on #27
I could manage it, but it will change the way users run it. It's kinda a breaking change.
Let me think about that, there are other things I would like to implement that are breaking change too, I can include that one in v5.0.0.
Anyway, I'm pretty busy with the University stuff, I don't know when I'll implement that, could be in a week as in the Christmas holidays...

[2019-10-01 10:40] daquinoaldo opened #29 "Serve static files without using express"
Rewrite the `app.serve` function at [row 61 in index.js](https://github.com/daquinoaldo/https-localhost/blob/master/index.js#L61) so that will serve static files without using express.js.

You'll be mentioned as a contributor.
Happy [Hacktoberfest](https://hacktoberfest.digitalocean.com)!

[2019-10-01 11:06] prkhrv commented on #29
Can use Node-Static?

[2019-10-01 11:52] HeyIts-RJ commented on #29
Hello, I try to resolve your issue by using the native file system module not express. Please check it and merge it if it is right.

Here is my methodology to implementation
`var fs = require('fs'),
    http = require('http');

http.createServer(function (req, res) {
  fs.readFile(__dirname + req.url, function (err,data) {
    if (err) {
      res.writeHead(404);
      res.end(JSON.stringify(err))

[2019-10-01 12:27] daquinoaldo commented on #29
@prkhrv I would like to remove as many dependencies as possible from my package. `node-static` is pretty lightweight, but I prefer a native solution if it is possible.

Actually, I prefer @HeyIts-RJ's solution. I have to review the code with more attention, probably this evening (CET timezone).
Could you please fix the linter errors, so that I can better test it? Give a look to the GitHub Actions

[2019-10-01 12:39] daquinoaldo commented on #27
I've discussed your feature request with some friends and I decided to switch to the `sserve` command as you suggest.
I started thinking about v5.0.0 implementation. Hopefully, it will be published before Christmas.

[2019-10-01 12:57] HeyIts-RJ commented on #29
Alright @daquinoaldo I will fix the linter error and actually I'm thinking to remove `JSON.stringify(err)`

[2019-10-01 14:06] HeyIts-RJ commented on #29
@daquinoaldo I fixed the linter errors and warning in my last commit.

[2019-10-01 17:53] daquinoaldo commented on #29
@HeyIts-RJ take a look at my comment on #30. Can you implement it?
If you think it is too complex we can use `node-static` as suggested by @prkhrv.

[2019-10-01 17:55] HeyIts-RJ commented on #29
Give me some time to try it.

[2019-10-01 18:22] HeyIts-RJ commented on #29
Give me some time for it @daquinoaldo I think I'm moving in right direction.

[2019-10-01 19:39] daquinoaldo commented on #29
Sure, no problem

[2019-10-08 12:59] daquinoaldo commented on #29
Someone wants to help @HeyIts-RJ with #30 or whish to propose its own solution?

[2019-10-08 16:05] HeyIts-RJ commented on #29
Alright. It's open for that.

[2019-10-11 00:50] angelcnsk opened #31 "Parse error"
**Bug description**
Hi, I'm trying to npm run serve once the https-localhost dependency is installed to use ssl and it sends me the following compilation error message.

[code]

I put the following lines in my js file, I tried to find information about it but I can't solve the problem, I appreciate any possible help.

[code]

**System information (please complete the following information):**
 - O

[2019-10-11 18:21] daquinoaldo commented on #31
Hi @angelcnsk!
- Which version of Node.js are you using? You can find it with `node --version`.
- Are you running the script standalone from command line (i.e. `serve my-folder`) or are you using as module (e.g. `const app = require("https-localhost")()`)?

[2019-10-17 07:18] daquinoaldo commented on #27
Confirmed in v5.0.0. I'll close the issue since I consider it resolved. Just wait for a stable (or a beta) v5.0.0.

[2019-10-17 07:18] #27 closed

[2019-10-17 10:49] andrecarlucci opened #32 "The script breaks when you have a username with spaces on Windows."
**Bug description**
The script breaks when you have a username with spaces on Windows.

**To Reproduce**
Steps to reproduce the behavior:
1. Your username has spaces. Ex: "André Carlucci"
2. serve .
3. Error: Command failed (mkcert)

**Expected behavior**
No errors :)

**System information (please complete the following information):**
 - Windows 10

That can be fixed escaping the path when on Win

[2019-10-17 20:35] daquinoaldo commented on #32
Hi @andrecarlucci,
I'm not able to reproduce the bug, but I have an idea about a possible fix.
Can you help me by doing some tests?

[2019-10-17 20:47] daquinoaldo commented on #32
Meanwhile, I opened a new [branch](https://github.com/daquinoaldo/https-localhost/tree/fix-32).
The error may be at [row 76 of certs.js](https://github.com/daquinoaldo/https-localhost/blob/fix-32/certs.js#L76). Let me know if this new version works.
1. `npm uninstall -g https-localhost` (you can have a warn, just ignore it)
2. `npm i -g git://github.com/daquinoaldo/https-localhost.git#fix-32`

[2019-10-18 09:01] andrecarlucci commented on #32
Hi @daquinoaldo,

How can I remove the certificate?
It's because I fixed the problem in another way and now it won't generate the certificate again.

I created a pull-request with my changes, but I couldn't run the tests locally, some error regarding "Describe". What's the procedure to run the tests locally?

Also, I don't think only changing line 76 will work as you need the other paths to work a

[2019-10-18 09:17] daquinoaldo commented on #32
I've seen your PR,I really appreciated it. I fixed tests and I committed on the master of your fork.

To run tests (after `npm i`) just run `npm t`. You may need an elevated/privileged shell (administrator cmd/powershell or something like that).

Certificates are located in the application data folder, on Windows should be `%APPDATA%`. Then look for https-localhost or mkcert folder and delete it.

[2019-10-26 14:42] daquinoaldo commented on #32
Fixed in #33, published in v4.4.1.

[2019-10-26 14:42] #32 closed

[2019-11-15 13:46] #29 closed

[2019-12-26 15:04] linonetwo opened #34 "Can this run in limited environment likes Electron, in Android and iOS through ReactNative?"
I'd like to make a portable BaaS server with this, so a user can open an Android app or cross-platform electron app to start an https server.

I'm wondering if it is possible to do so. Maybe it is up to `appdata-path`, it doesn't work in the mobile environment.

[2019-12-27 08:16] daquinoaldo commented on #34
Hi @linonetwo
I'm not sure I understand your aim: you want to allow users to visit a website on https://localhost from a mobile browser (e.g. Chrome) or you want to encapsulate this service in an app that also shows the website by itself?

As you said, probably `appdata-path` could be a problem, but a workaround should not be difficult.
The main issue you have to take into account is that https-lo

[2020-01-07 20:56] #34 closed

[2020-01-29 19:36] asos-albinotonnina opened #35 "RangeError: Invalid typed array length: -4095"
**Bug description**
As you stated in the README, I'm getting this error only when `ENV=production`.
I do need that because I'm trying this tool, which looks great, for performance tests.
Reason why I'm opening this issue is that I'm running node 12.14, which is fairly new!

**To Reproduce**

server.js
[code]

[code]

**Expected behavior**
not `RangeError: Invalid typed array length: -4095`

**Syst

[2020-01-29 20:01] daquinoaldo commented on #35
Hi @asos-albinotonnina!

This is a [known bug](https://github.com/spdy-http2/node-spdy/issues/363) of the spdy library. This is the reason I don't use http2 by default but only in production mode. Unfortunately, there aren't any news about a possible fix neither we know under which conditions it occurs. I'm not able to reproduce the bug to fix the library.

At the moment, the only fix is to avoid

[2020-01-29 20:01] #35 closed

[2020-02-21 18:54] rsip22 opened #37 "Support for ARM architecture (Raspberry Pi 3 B)"
**How would you like to expand the functionalities?**
Currently, it's not possible to use this package on ARM devices, because the code reads only the platform "linux" and it assumes it should just pull and run the linux-amd64 mkcert binary.

**Are there alternatives?**
mkcert already provides a [binary to run on linux-arm devices](https://github.com/FiloSottile/mkcert/releases).

**Is it a breaki

[2020-02-21 19:36] daquinoaldo commented on #37
Hi @rsip22, thank you for you interest and for reporting this bug!

I'll be happy to support also ARM devices. A would appreciate a lot if you are able to open a pull request, I'll handle it on Monday.

Please remember to run `npm t` to test your edits.

[2020-02-21 20:14] rsip22 commented on #37
Thank you for being open about this (and for sharing the code), @daquinoaldo !

I am not familiar with Github Actions, so even though I made the code work here (and the tests pass), I was not very successful in my attempt to add testing for ARM to the CI... any suggestions regarding this?

[2020-02-21 23:33] daquinoaldo commented on #37
Wow, super fast!
I don't have my laptop at hand now, so I'll approve Monday when I can publish the new version on npm.
Don't worry about GitHub CI, I'll add the configuration by myself.
Thank you for your effort!

[2020-02-24 11:54] #37 closed

[2020-03-01 01:49] gstvribs opened #39 "Problems with SPA routing"
Hi, i'm having two issues with this lib when i'm trying to serve my react spa.

The first is: when i access directly a route work well, but when i try to do a refresh the lib just got lost and i receive a 404 (saying Forbidden 403 from rs.sendFile message)
The second is: when i access directly the i receive a Forbidden from node.js file system, because relative are suspicious to node.

i'm working

[2020-03-02 07:59] daquinoaldo commented on #39
Hi @gstvribs, thank you for your feedback.
I've reviewed your PR: it's clear, clean, and effective. I have finally understood the problem previously described in #36.

I'll merge the PR, as well as publish the new version on npm, as soon as I have some free time, in this days.

[2020-03-02 19:15] daquinoaldo commented on #39
Code tested and PR merged. Let me know if you are interested in working at #36. In that case, I would like to include also that PR in the next version on npm, otherwise I'll push these new changes.

Thank you very much again for your effort!

[2020-03-03 00:06] gstvribs commented on #39
Nice!

@daquinoaldo, now with these changes merged, the lib now supports SPA routes by default and static websites, i think #36 could be closed.

The ideia in the beginning is to add a flag, but, with this PR merged, https-localhost now support spa by default.

Me and @thiagones work on the same project, with this code already merge I think it’s good to go :)

[2020-03-03 06:58] daquinoaldo commented on #39
Okay, perfect. Thank you, good luck with your project!

[2020-03-03 06:58] #39 closed

[2020-03-17 14:48] giangldo opened #42 "Running mkcert to generate certificates Fail"
**Bug description**
I hit an error that can not install the mkcert on window 10
Error: The process cannot access the file because it is being used by another process.

**To Reproduce**
`import https from 'https';
import httpsLocalhost from 'https-localhost';
import app from './app';

const port = process.env.PORT || 8000;

(async () => {
  try {
    const certs = await httpsLocalhost().getCerts();

[2020-03-18 12:49] daquinoaldo commented on #42
Hi @giangldo, thank you for your reporting.

I'm not able to reproduce the bug.
Are you able to run a debugger against the code to provide the stack trace or the line that causes this error?

Also, have you tried to run once the tool in an elevated shell? The first run of the tool generates the certificates, sometimes this operation needs to execute the PowerShell as administrator. Next runs will

[2020-03-19 20:42] giangldo commented on #42
Hi daquinoaldo,

you are right. run it second time and it works.

thank you for pointing that out.

...best

[2020-03-19 21:09] daquinoaldo commented on #42
I'm glad your problem is solved.
Regards

[2020-03-19 21:09] #42 closed

[2020-03-27 03:38] formattedzzz opened #43 "不安全连接问题"
有没有同学用了这个包之后 某些网站会出现 **暂时性** 访问不了的情况 提示如下

遇到的出现问题的站点：
- github 官网
- https://lavas-project.github.io/pwa-book/chapter01/6-your-first-pwa.html

难道是生成的证书有问题？

[2020-03-27 07:04] daquinoaldo commented on #43
Hi @formattedzzz,
can you please explain better in English? I used a translator but it is not clear what you are meaning.
Have you some difficulties in visiting that site or when serving the PWA built with that tutorial you are experiencing that issue on localhost?

[2020-03-28 11:18] formattedzzz commented on #43
aha! sorry.  maybe it's not a  specific problem.  at the first running, when i generator the mkcert and open the safari by the same ip, the safari prompt me some potiential dangerous about localhost cert and ask for authorization. I guess maybe the point result in i can't access some website temporary(about few hours at the same appid), such as github.com or xxx.github.io which is strict about sec

[2020-03-28 12:07] daquinoaldo commented on #43
This is strange... For which domain have you generate the certificate? localhost or custom domain?

[2020-03-28 13:19] formattedzzz commented on #43
localhost

[2020-03-28 13:22] daquinoaldo commented on #43
That is pretty unusual, seems something unrelated...
Let me know if you experience this problem again.

[2020-03-28 13:41] formattedzzz commented on #43
Good luck no emersion...

[2020-03-28 13:41] #43 closed

[2020-04-14 06:35] YunHsiao opened #44 "does this work for local LAN device accesses?"
Sorry if this is not the right place to ask this, but I'm kind of confused if this server works on LAN environment, say visiting the desktop server on the mobile device connected to the same wifi network. I kept getting error messages like this one discussed [here](https://stackoverflow.com/a/16302527). (all the `openssl` commands behaves exactly like what's described)
Seems to be certification pr

[2020-04-14 06:57] daquinoaldo commented on #44
Hi @YunHsiao
the certificate is valid only on the device you are running the server, that is localhost.
Of course the server is accessible also from outside your PC, e.g. from you Android phone on LAN, but the phone has not the certificate and won't recognize the connection as trusted. The trick is that, at first start, a self signed certificate is issued, and then is trusted on the PC, so that on

[2020-04-14 07:01] YunHsiao commented on #44
oh I see... Looks I have to use a dedicated server to do this, thank you for the clarification.

[2020-04-14 07:09] daquinoaldo commented on #44
Yes, if you need a certificate trusted by all the devices, you'll need a real certificate issued by a third party, this is a development certificate only.

Take a look to Let's Encrypt, they issue valid certificates for free. You will need to run your server on a public IP address on the Internet, and you'll need a domain that points to this address. Probably a dedicated server is the easier choic

[2020-04-28 03:35] #44 closed

[2020-05-08 02:44] dschinkel opened #45 "Automated Certificate Management - Heroku"
n00b here.  How does this work if I've got a dyno running via Heroku and I've setup my dyno to manage my certifications?

https://devcenter.heroku.com/articles/automated-certificate-management and I've set that up for Heroku to get the cert from https://letsencrypt.org

Just trying to understand how https-localhost is able to pick up the automated certificate management in all this or does it not

[2020-05-09 13:12] daquinoaldo commented on #45
Hi @dschinkel,
I designed https-localhost to run... well, on localhost 😅
I'm not sure I understand correctly, but it seems to me that you want to use it to serve pages using Heroku, right?
You can't use your own certificate with https-localhost, even if will I'm evaluating this functionality for the future.

To serve file with Heroku, I can suggest you [Zeit's serve](https://www.npmjs.com/package/

[2020-05-22 08:04] #45 closed

[2020-06-09 01:17] blainsadler opened #46 "CORS Support"
**How would you like to expand the functionalities?**

When using `https-localhost` to serve static assets that are loaded by another locally served application via `XMLHttpRequest` browsers reject the request due to the lack of [CORS headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) on the response. I'd like to add CORS support so local frontend application development can take adv

[2020-06-09 06:41] #46 closed

[2020-06-21 21:58] DTrejo opened #48 "Bug: Intermediate CA not added? Thanks for this module!"
Thanks for this module!

**Bug description**
openssl and `https.get` are unable to verify the first certificate () when making a request to a local server created with https-localhost.

**To Reproduce**
Steps to reproduce the behavior:
1. Start an https-localhost server on localhost:443 with `npx https-localhost`
2. Run `openssl s_client -connect localhost:443` -> you will see:
[code]
3. Or, make

[2020-06-22 05:38] daquinoaldo commented on #48
Hi @DTrejo,
thank you for the feedback!

It is not possible to use Let's Encrypt because it runs on localhost. You'll need to buy a domain and expose your device on Internet to allow Let's Encrypt to verify your server and produce the certificate.

Far what concern the bug you are experiencing: the connection should be verified, it is the aim of this module.
Have you tried to use a browser? The co

[2020-06-25 03:54] DTrejo commented on #48
The project did work great in the browser, no problems. I ended up using https://github.com/jsha/minica to create a cert, then I started my server like this so that HTTPS requests from node programs would work:

[code]

[2020-06-25 03:57] #48 closed

[2020-08-09 15:29] camous commented on #28
I face the same situation when for the first attempt of calling ./serve (windows/powershell/administrator).

Running in a separate shell command
`mkcert-v1.4.1-windows-amd64.exe" -install -cert-file "C:\Users\username\AppData\Roaming\https-localhost\localhost.crt" -key-file "C:\Users\username\AppData\Roaming\https-localhost\localhost.key" localhost`

generated the certificate files and then `serve

[2020-08-11 09:24] daquinoaldo commented on #28
Thabk

[2020-08-11 09:39] daquinoaldo commented on #28
Hi @camous,
thank you for the additional information!
After launching an error, is the program able to serve pages on a secure connection? Or is it impossible without running mkcert manually?

[2020-08-11 11:56] camous commented on #28
serve wasn't able to works with the error (I tested) beside the process was hanging.

I have the feeling the mkcert crashed/hang for some reasons (I was in administrator) making the promise fails.

when running mkcert manually (from command line directly), I think I remember I had a dialog box asking me to install the certificate in my local store (sorry I don't have the screen). maybe this dialog

[2020-08-12 10:05] daquinoaldo commented on #28
Okay, thanks for the further investigation!

I suspect the error is within [this promise](https://github.com/daquinoaldo/https-localhost/blob/770a5b522ae00891433ea62ca021cbdb7fe3b06f/certs.js#L96), but I'm running out of time in these days.
If you want to try a fix on your own, you'll have all my support and thankfulness (and you'll be mentioned as contributor). Otherwise I'll try to fix it as soo

[2020-08-13 07:14] camous commented on #28
little bit short on time, however, will quickly check if I can remove the installed certificate in order to re-produce the issue. that would be a first step :)

[2020-08-25 21:51] josencv opened #50 "Unable to configure CORS"
**Bug description**
Cannot configure CORS to return specific origins in preflight response headers, because it's handled by the library, which automatically returns wildcards. It is a problem because there are some cases in which browsers reject wildcards due to security reasons.

My specific case is trying to make XHR requests with the `withCredentials` flag set to `true`, which fails as document

[2020-08-26 06:05] daquinoaldo commented on #50
Thank you for the feedback. I'll add a flag as suggested.

[2020-08-28 14:42] robokozo commented on #28
I'm seeing the same thing.

[code]

[2020-08-31 12:29] daquinoaldo commented on #28
Hi guys,
thank you for reporting.

I've opened a branch for investigating the problem. I found path formatting error on macOS. I fixed on darwin architectures (see the above commit), but I need to test it on Windows. Anyway, probably the cause it will be the same.
I'm preparing a Windows test machine; I hope to work on a fix in the next days. Then I'll need your feedback.
Stay connected!

[2020-09-02 11:26] daquinoaldo commented on #28
@robokozo @camous
After some tests, the bug seems to be fixed. Could you please try again?

[code]

It should work.
If not, or if you have just a bit of time to make further investigations, please run the tests.
[code]

Troubleshooting: try to delete those two folders (it is safe, they are created by my script). Then try to install it or to run tests again.
[code]

Thanks for your time, I really a

[2020-09-02 14:46] robokozo commented on #28
I ran the tests and this is the result:
[code]

[2020-09-02 18:11] daquinoaldo commented on #28
Thanks @robokozo!
Did this occur also the second time you ran the tests?

[2020-09-02 20:27] robokozo commented on #28
Yes, I'm afraid so

[2020-09-16 07:04] daquinoaldo commented on #28
I've ran other tests and even after many attempts I still unable to reproduce the issue. I tried to investigate the causes, but I can't find any parallelization errors: I await all the needed promises and call sync APIs on fs, the code is almost sequential.
I'm sorry for this. I'll be happy to help you if you can further investigate the problem and catch the bug origin.
Thank you for your comprehe

[2020-10-05 09:43] Xeonzinc commented on #28
Hi, probably not much help but I'm getting the same error on windows with your 'fix-issue-28' version. And as others have mentioned running the exact same command mentioned in the error manually works correctly strangely.

[2020-10-06 09:22] NoelJacob commented on #28
Hey, probably you know it but, I npm installed the `fix-issue-28` version and everything works perfectly. I also git cloned `fix-issue-28` and ran the tests; all of which pass.

I'm running Windows Insider: 20226.1000. Node.js: v14.12.0

For me, the version on npm produces the following error on first run.
[code]
After installing the certificate in C:\Users\Janice\AppData\Roaming\https-localhost,

[2020-10-06 09:27] daquinoaldo commented on #28
Hi @NoelJacob,
thank you for the feedback.

The error at first run happens only with the public version, the latest release on npmjs.org, and not with the `fix-issue-28`, is that right?

If so, publishing the fix branch on npm should fix at least the missing file problem (i.e. the wrong path construction bug).

[2020-10-06 09:27] daquinoaldo commented on #28
Hi @NoelJacob,
thank you for the feedback.

The error at first run happens only with the public version, the latest release on npmjs.org, and not with the `fix-issue-28`, is that right?

If so, publishing the fix branch on npm should fix at least the missing file problem (i.e. the wrong path construction bug).

[2020-10-06 09:28] NoelJacob commented on #28
yes it should fix the problem

[2020-10-06 14:13] yakunins commented on #28
Have same problem. So, I cloned `fix-issue-28`, run `npm install`, run `npm run test` and got exactly the same error:

[code]

Windows 10, tested on both node v12 and node v14.

[2020-10-09 16:23] daquinoaldo commented on #28
Hi @yakunins (and @Xeonzinc, @robokozo, @camous),

could you please try again on `fix-issue-38`?

1. Delete these two directories:
[code]

2. Uninstall https-localhost and install the fix branch
[code]

I'm still not be able to reproduce the bug. I remove the log files. That should fix the `ENOENT`. Also, I added a 3 seconds sleep on Windows, even if it should be a sync call.
@yakunins tests shoul

[2020-10-09 21:07] camous commented on #28
hey @daquinoaldo , sorry for not answering before :/

however, followed your instruction and it works for me. however is it exactly from an exact vanilla computer ? I will try on my other computer just after.
1. deleted 2 folders
2. uninstall
![image](https://user-images.githubusercontent.com/8566299/95631327-ceb69d80-0a83-11eb-91a3-4c880ceb6e9e.png)

3. install specific branch
![image](https://us

[2020-10-09 21:18] camous commented on #28
on a clean computer, running `serve` for the first time with **admistrator** permission with branch `git://github.com/daquinoaldo/https-localhost.git#fix-issue-28` it worked for me.

![image](https://user-images.githubusercontent.com/8566299/95632269-93b56980-0a85-11eb-956f-6861801c16f2.png)

![image](https://user-images.githubusercontent.com/8566299/95632354-c2334480-0a85-11eb-92ab-6e0046e07fdd.p

[2020-10-10 08:23] #28 closed

[2020-10-10 08:25] daquinoaldo commented on #28
Thank you, guys!
If someone still experiment this problem, feel free to comment this issue and we will discuss it again.

[2020-10-13 09:05] yakunins commented on #28
@daquinoaldo Thank you, tests are passed.

![image](https://user-images.githubusercontent.com/2505676/95839999-1461b780-0d5d-11eb-8c10-6c09a1998747.png)

[2020-10-13 09:39] daquinoaldo commented on #28
By the way, the fix has been released in v4.6.3.

[2020-12-03 22:17] Kore-Development opened #52 "Running on Mac as a non-admin user"
**Bug description**
When running on a Mac as a non-admin user it asks for a sudo password then says I'm not in the sudoers file (because I'm not admin). I installed mkcert normally and ran mkcert -install. Could there be a flag for when you already have mkcert installed or something?

**To Reproduce**
Steps to reproduce the behavior:
1. Run as non-admin user on Mac

**Expected behavior**
Not ask f

[2020-12-03 22:41] daquinoaldo commented on #52
Hi! Thank you for your feedback.
Unfortunately it assumes you have super user permissions (just the first time). It was a problem due to mkcert. This weekend I’m going to upgrade mkcert to the latest version, it should solve the problem according to what you said.
I’ll keep you updated!

[2020-12-04 22:48] daquinoaldo commented on #52
Hi @Kore-Development,
[v4.6.4](https://github.com/daquinoaldo/https-localhost/releases/tag/v4.6.4) is out and is already published on npm.
Let me know if it solves the issue. Consider that `https-localhost` does not require root permission. So if it asks for sudo password it's `mkcert`, as stated in these [release notes](https://github.com/FiloSottile/mkcert/releases/tag/v1.4.1).

[2020-12-13 19:40] murunwas opened #54 "detected as the virus on windows"
![ScreenShot_20201213213305](https://user-images.githubusercontent.com/8838943/102021883-b9b00080-3d8b-11eb-9251-3de0981acf10.png)

[2020-12-13 20:36] daquinoaldo commented on #54
This is a false positive. `mkcert` is a tool to generate and trust certificates. It’s open source, you can check it on [mkcert.dev](https://mkcert.dev).

[2020-12-13 20:36] #54 closed

[2020-12-18 00:38] #50 closed

[2021-01-08 04:41] carsenk opened #56 "JAVA_HOME Set on Windows, Fails (access denied)"
**Bug description**
https://puu.sh/H4RuS/03a83a5e5b.png

**Expected behavior**
A clear and concise description of what you expected to happen.
Got the mkcert popup to install the cert, but then it try keyimport or something after which it fails due to JAVA_HOME being set maybe? Access denied in the jdk folder? I tried removing JAVA_HOME from my enviroment variables and restarting and trying again,

[2021-01-08 06:38] daquinoaldo commented on #56
Hi @carsenk,
unfortunately the output is truncated in the image you pasted.
Anyway, the error seems to be related to Java has you said. Have you tried to run the script with `serve`? It could work anyway.
If it doesn’t work, you can try to run it again in an elevated shell (you have to run Powershell as an administrator). The error seems to be related to missing permissions, that shouldn’t be a pr

[2021-01-11 17:07] TimDaub opened #57 "File exists: /usr/local/bin/serve"
I've [serve](https://www.npmjs.com/package/serve) installed on my computer:

[code]

Hence, when I do `npm i -g --only=prod https-localhost`, I get an error during the installation:

[code]

To me, it would make sense if the binary was called `https-localhost` or similar. [Currently, it is called serve](https://github.com/daquinoaldo/https-localhost/blob/master/package.json#L14).

[2021-01-16 08:40] daquinoaldo commented on #57
Hi @TimDaub,
I agree to change the name for the same reason you spotted. I would change it to `sserve` since `https-localhost` it's a bit long. Anyway, it's a good idea to keep them both since it is possible.
The problem with changing the name is that it's a breaking change. I scheduled it in v5, in which there are many other breaking changes.
I'm running out of time in this period (sorry for the

[2021-01-19 14:57] TimDaub commented on #57
I'm fine with sserve too, but consider that you might run into trouble in case you ever want to rename your library to that name: https://www.npmjs.com/package/sserve

I'm happy to help you resolve this issue here :)

[2021-01-24 09:58] daquinoaldo commented on #57
The name change will be included in `https-localhost v5.0.0`. The plan for that version is a total refactor and a porting in TypeScript. As I said, I'm running out of time, and I don't really know when `v5` will be out.

[2021-01-24 09:58] #57 closed

[2021-02-11 00:32] #52 closed

[2021-03-17 00:36] #56 closed

[2021-03-23 13:00] Gintez opened #59 "create a certificate for additional domains does not work"
I want to add certificate to additional domains. I add:
`const httpsLocalhost = require('https-localhost')('myDomain.com');`

But certificates for localhost only are created:
![Screen Shot 2021-03-23 at 15 00 13](https://user-images.githubusercontent.com/20800867/112150192-7cf47080-8be8-11eb-8b8a-468fe315824b.png)

![Screen Shot 2021-03-23 at 14 59 38](https://user-images.githubusercontent.com/208

[2021-04-05 18:45] williamsokol opened #61 "localhost didn’t send any data."
**Bug description**
I have tried to make this run on 2 different Windows computers with different node versions and both got the same error "localhost didn’t send any data." I used npm to download it using the command "npm i -g --only=prod https-localhost". This happens to websites that do work with normal local hosting in python and node.js.

**To Reproduce**
Steps to reproduce the behavior:
1. d

[2021-04-05 19:46] daquinoaldo commented on #61
Hi @williamsokol, I’m not sure to understand correctly.
After `npm i -g https-localhost` have you run `serve .` in a directory with static html files?

[2021-04-06 00:09] williamsokol commented on #61
Oops, I did "serve" in my directory on terminal, didn't add that bit. The file I was serving is this guys repo: https://github.com/Web3Modal/web3modal-vanilla-js-example where they actually recommend we use your package so I think it should be working.

[2021-04-06 05:37] daquinoaldo commented on #61
The content is fine. You should be either inside the directory or specify the directory path.
Can’t you see the files in https://localhost or have you a connection security error? In the latter case, try run a terminal as administrator the first time you run `serve`. It needs it to create the certificate and add it as trust in the system. Subsequent attempt doesn’t need to be run on an administrat

[2021-04-06 05:45] daquinoaldo commented on #59
The code seems correct to me. Which version are you using?
Keep in mind that the server will serve your content on localhost, hence it’s up to you to make your domain pointing localhost (either via DNS or changing system records).

[2021-04-06 06:25] Gintez commented on #59
I am using "https-localhost": "^4.6.4";
The localhost using https works fine, but there are no certificates generated for the 'myDomain.com', I would expect that if `const httpsLocalhost = require('https-localhost')('myDomain.com');` then I would get the cert and key generated for the myDomain.com as well. Am I wrong here?

[2021-04-24 17:25] neryash opened #62 "https server not working with socket.io"
**Bug description**
Socket.io isn't running with this server.

**To Reproduce**
Steps to reproduce the behavior:
try using socket.io with the library

**Expected behavior**
the websocket should receive messages, but doesn't

**System information (please complete the following information):**
 - OS: Windows 10 20H2 19042.928
 - App version 4.6.4

[2021-04-30 19:43] daquinoaldo commented on #62
Hi @neryash,
I've never used Socket.io, and unfortunately, I don't have time to allocate on this project currently.
If you can open a pull request, I'll be super happy to review it and merge it.
Otherwise, can you please provide a code that I can run to test it? I'll try as soon as I can.

[2021-04-30 20:12] daquinoaldo commented on #59
Hi @Gintez,
Sorry for the late answer.
I just tested it and it works correctly. Here how I tested it.

`$ cat test.js`
[code]
Note that `.serve()` starts the server.

`$ sudo node test.js`
[code]

[2021-05-06 09:35] vikramIde opened #64 "Request Aborted error from Android"
**Bug description**
When i try to hit a node server running from an android device, In android device I am getting the ```Request Aborted``` issue.

So I read in the readme that when browser shows SSL error we should regenerate the certs I did that as well.

Btw this error doesn't exist in server running without https on localhost.
with android version lower than 9.

The andorid version >9 has mad

[2021-05-06 11:17] daquinoaldo commented on #64
Hi @vikramIde,

I'm not sure if you are running the server on your laptop or your Android device.

**Case 1: laptop or remote server**
`https-localhost` is meant to be used, well, on localhost. It's definitely NOT a production server. It generates a self-signed certificate and makes your machine trust it. If you visit the server on the localhost, your machine will accept the certificate as safe si

[2021-06-14 00:42] #61 closed

[2021-07-04 16:43] marcusx2 opened #66 "How can I access localhost from mobile?"
It works on the computer but not with my mobile phone. See [here](https://stackoverflow.com/questions/52256850/how-to-access-a-website-localhosthttps-from-mobile-browser).

[2021-07-04 16:48] #66 closed

[2021-07-06 09:47] saintdiegox opened #67 "Dig"

[2021-07-07 06:11] #67 closed

[2021-07-08 00:43] #62 closed

[2021-07-08 00:43] #59 closed

[2021-07-14 00:41] #64 closed

[2021-09-07 23:18] PatrikElfstrom opened #68 "Ability to set a custom domain in the cli"
**How would you like to expand the functionalities?**
Be able to set a custom domain like you can set a custom port.
This to be able to serve with a custom ip/domain for debugging from another device.

**Are there alternatives?**
Not that I know of.

**Is it a breaking change?**
No.

[2021-09-08 20:08] #68 closed

[2021-10-26 05:23] delebash opened #70 "Ability to add server headers"
**How would you like to expand the functionalities?**
I am currently running this from an npm script     `"serve": "serve dist"` and that works great.  However I need to add certain headers to the server.  For my case I am using a wasm file that requires SharedArrayBuffer.  To enable this I need to add these headers to the http server

Cross-Origin-Resource-Policy", "same-origin
Cross-Origin-Embed

[2021-10-26 19:02] #70 closed, assigned to nobody

[2022-07-12 10:59] usoppu opened #76 "help with binary"
# If you don't have Node.js installed just use a packaged version! Download it from the release page.
# Linux
# ./https-localhost-linux ~/myproj

I downloaded the linux binary.
chmod +x. run in folder with basic html file
Do i need to download additional files?

anc@-zb:~/Desktop/projects/web3/test$ /home/anc/tools/https-hosting/https-localhost-linux
pkg/prelude/bootstrap.js:1697
      throw error

[2022-08-16 09:10] Yuval-Peled opened #77 "Importing this library causes uncaught errors to be printed without stack traces"
**Bug description**
Importing this library causes uncaught errors to be printed without stack traces. Note - it is enough to import the library, you don't even have to call any of its functions.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a file with the following contents: `const httpsLocalhost = require('https-localhost'); throw new Error();`
2. Run the file. The output is:
[cod

[2022-09-18 02:05] #76 closed, assigned to nobody

[2022-10-15 19:37] rzfzr commented on #31
@daquinoaldo Greetings!
can you reopen the issue? It is still relevant, I'm encountering this.
node v16.16.0
using it as a module in an electron/vuejs app
I've used it in non-vue electron/ts app, so I believe it is something in the loader.
@angelcnsk did you solve it?

[2022-10-15 22:23] rzfzr commented on #31
Trying to remove the line gives this, is it looking for certs.js in the wrong place?
![image](https://user-images.githubusercontent.com/13456224/196009788-9ac9593a-e3e4-4c6b-8982-b3b9695e9b68.png)
Have failed to use a shebang loader

[2022-10-16 08:38] daquinoaldo commented on #31
@rzfzr, can you try removing the shebang line from all the files and importing a local version of the module without shebangs? If it works, please open a pull request.

[2022-10-16 08:40] daquinoaldo commented on #77
@Yuval-Peled, could you open a pull request with proposed changes? I like your analysis and I’ll be glad to evaluate a proposal.

[2022-10-16 09:59] Yuval-Peled commented on #77
@daquinoaldo
Yes, I'll look into that.

[2022-11-12 08:17] ezekiel747 commented on #57
Hi, just wanted to suggest a different command name than "serve", maybe "serve-https"?
I've had this renaming done manually in the bin folder, since I need both the "serve" package and this one (awesome work, btw).
Thanks.

For now, if someone else needs to use both serve and https-localhost packages alternatively, just rename the symlinks.
* npm i -g https-localhost
* mv /usr/local/bin/serve /usr

[2022-11-12 09:42] TimDaub commented on #57
I ended up publishing ssl-serve which is a zero-config dev server for SSL connections, an old fork of zeit‘s serve. I don‘t really maintain it but it still works without problems.

[2022-11-14 03:40] Dreamer-Paul commented on #37
My Mac Mini (M1 Chip) has a problem like this, I wonder you will fix it? @daquinoaldo

[code]

[2022-11-14 04:07] Dreamer-Paul opened #78 "Mac M1 Chip Support"
**Bug description**
Does not support M1 Chip's mac.

**To Reproduce**
Steps to reproduce the behavior:
1. Install package
2. Using this package in M1 Mac

**Expected behavior**
Supports M1 Chip's Mac.

**System information (please complete the following information):**
 - OS: MacOS Ventura 13.0
 - App version 4.7.1

**Additional context**
Similar questions: #37

I checked the [code](https://github

[2022-11-15 07:36] wll8 commented on #31
Since you are running `npm run serve`, you are consuming a web service. So you can put the following code in the browser runtime environment.

You can try to place the code for the node environment in vue.config.js.